/* Main app css */
body {
  background: #000 url(../src/images/nightsky.webp) no-repeat fixed center;
  background-size: cover;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #dba90d;
  font-family: 'StarJedi';
  text-transform: lowercase;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

p, span, div {
  font-family: 'Red Hat Mono', monospace;
}

.app-header__logo {
  height: 120px;
  object-fit: cover;
  width: 300px;
}

.quote-text {
  font-style: italic;
}

.main-content {
  position: relative;
  max-width: 1100px;
  margin: auto;
  min-height: calc(100vh - 300px);
  padding: 20px;
}

.main-content--align-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header {
  text-align: center;
  width: 100%;
}

.app-header__slogan {
  transform: perspective(200px) rotateX(25deg);
}
/* Footer */
.footer {
  padding: 3em 1em 1em;
  text-align: center;
  width: 100%;
}
/* Error message */
.error-msg {
  color: #dba90d;
  font-family: 'StarJedi';
  font-size: 2em;
  text-transform: lowercase;
  text-align: center;
}

.error-msg p {
  font-family: inherit;
}